@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@theme {
  --font-sora: "Sora", sans-serif;
  --font-sans: "Sora", sans-serif;
  --color-white: #ffffff;
  --color-black: black;
}

:root {
  background-color: white;
  color: black;
}

.dark {
  background-color: #09090b;
  color: white;
}

li, button {
  cursor: pointer !important;
}